<div class="container">
  <div align="center" class="signin-form">
    <h4>
      Login
    </h4>
    <div>
      <form (submit)="login($event)">
        <div class="row">
          <div class="col-sm-3" >
            <label>Username:</label>
          </div>
          <div class="col-sm-9" >
            <input type="email"  placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3" >
            <label>Password:</label>
          </div>
          <div class="col-sm-9" >
            <input type="password" placeholder="Password">
          </div>
        </div>
        <div class="input">
          <button type="submit" class="btn btn-primary custom" >Sign In</button>
        </div>
      </form>
    </div>

    <div class="buttons">
      <button type="button" class="btn" style="background-color: rgb(59, 89, 152); color: white;" (click)="loginFacebook()">
        Facebook
      </button>
      <button type="button" class="btn" style="background-color:rgb(29, 161, 242); color: white;" (click)="loginTwitter()">
        Twitter
      </button>
      <button type="button" class="btn" style="background-color: rgb(219, 68, 55); color: white;" (click)="loginGoogle()">
        Google
      </button>
      <button type="button" class="btn" (click)="loginGithub()">
        Github
      </button>
    </div>
  </div>

  <div class="signup-form">
    <form (submit)="createUser($event)">
      <div>
        <h4>
          Signup
        </h4>
      </div>
      <div class="form-group">
        <input  class="form-control" class="form-control" type="text" placeholder='Your Name'>
      </div>
      <div class="form-group">
        <input  class="form-control" type="email" placeholder="Your email">
      </div>
      <div class="form-group">
        <input  class="form-control" type="password" placeholder="Password">
      </div>
      <div class="form-group">
        <input  class="form-control" type="password" placeholder="Confirm Password">
      </div>
      <div id="buttons" class="form-group" align="center">
        <button type="submit" class="btn btn-primary custom" id="btn">Submit</button>
      </div>

    </form>
  </div>

</div>
