  .container{
  display: flex;
  margin-bottom: 1em;
}
.signup-form{
  width: 600px;
  padding: 3em;

}
.signin-form{
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}
#btn{
  padding-left: 3em;
  padding-right: 3em;
}
.row{
  margin-top: 1em;
}
.input{
  margin-top: 1em;
}
